.chatList {
  flex: 1;
  overflow: scroll;
  .search {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
  }

  .seachBar {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
  }

  input {
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    flex: 1;
  }

  img {
    width: 20px;
    height: 15px;
  }

  .add {
    width: 20px;
    height: 20px;
    background-color: rgba(17, 25, 40, 0.5);
    padding: 0;
    border-radius: 10px;
    cursor: pointer;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 22px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;
    background: #404048;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      /* flex-direction: column; */
      gap: 10px;

      span {
        font-weight: 14px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
