body {
  color: white;
}

.container {
  background-color: #2e2f38;
  backdrop-filter: blur(19px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  width: 100%;
  overflow: hidden;
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}
